.wd-bg-light-yellow {
    background-color:lightyellow;
}
.wd-bg-light-blue {
    background-color: lightblue;
}
.wd-bg-red {
    background-color: lightcoral;
}
.wd-fg-black {
    color: black;
}
.wd-bg-green {
    background-color: green;
}
.wd-padding-10px {
    padding: 10px;
}